@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

:root {
  --primary-color: #7c3af0;
  --dark-gray: #6b7280;
}
body {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  overflow: visible;
  margin: 0;
  background-color: #fdfcfa;
}

hr {
  margin: 1rem 0;
}

/* container */

.container {
  padding: 1rem, 1rem;
}

.container-centered {
  max-width: 400px;
  max-height: fit-content;
  margin: auto;
  /* for center */
}

/* links */
.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  margin: 2px;
  /*margin-top: 1rem;
  margin-bottom: 1rem;*/
}
nav .link:hover {
  background-color: wheat;
}

.primary-link {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
}

.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

/* lists */

.non-bullet {
  list-style: none;
}

.list-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/* navigation */
.nav {
  font-weight: 100;
  font-size: 20px;
}
.navigation {
  padding: 1.5rem;
  color: var(--primary-color);
  background-color: transparent;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 2rem;
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link {
  color: var(--primary-color);
}

.navigation .link-active {
  font-weight: bold;
}

/*header*/

.hero {
  margin-top: 2px;
  padding: 2rem;
  position: relative;
}
.hero .hero-img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 0 15px auto;
}
.hero-content {
  position: absolute;
  top: 25%;
  margin: auto;
  width: 50%;
  line-height: 20px;
  color: var(--primary-color);
}

.hero-content h3 {
  font-weight: 200;
  font-size: 40px;
}

.hero-content h1 {
  font-weight: 500;
  font-size: 50px;
}

.hero-content p {
  font-weight: 200;
  font-size: 30px;
}

/* section  */

.section-title {
  text-align: center;
  font-size: 3rem;
  color: var(--primary-color);
  text-transform: uppercase;
}

/* footer */

.footer {
  background-color: var(--primary-color);
  padding: 2rem 0rem;
  text-align: center;
  color: white;
  list-style: none;
  border-top-right-radius: 1rem;
  margin-top: 20px;
}

.footer .link {
  color: white;
}
.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

.more {
  display: none;
}

/* new skills section */

.skill-container {
  width: 90%;
  margin: 40px auto;
}

.skill-container .heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  color: var(--primary-color);
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
}

.card {
  width: 20%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 2em -1em black;
  transition: 0.3s;
}

.card-header {
  text-align: center;
  padding: 10px 5px;
}

.card-body {
  padding: 20px 10px;
  text-align: center;
  font-size: 18px;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.card img {
  text-align: center;
  width: 40%;
}

@media screen and (max-width: 620px) {
  .skill-container {
    width: 100%;
  }
  .slide {
    display: none;
  }
  .heading {
    padding: 20px;
    font-size: 20px;
  }
  .card {
    width: 30%;
  }
}

/* style for blog  */
.blog-section {
  display: flex;
  flex-direction: column;
}
.blog-card {
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}
.blog-card img {
  width: 250px;
  text-align: center;
}

.blog-card .blog-detail {
  margin-top: 5px;
  color: #b9b9b9;
}

/* projects style */

.proj-timeline {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.proj-card {
  max-width: 700px;
  text-align: center;
  margin-top: 10px;
}
.proj-img img {
  width: 450px;
  border: 1px solid black;
  border-radius: 10px;
}
.proj-heading-1 {
  color: var(--primary-color);
}

.proj-links a {
  margin: 10px 20px;
}
