@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

:root {
  --primary-color: blueviolet;
}

body {
  font-family: "Montserrat", sans-serif;
}

hr {
  margin: 1rem 0;
}

/* container */

.container {
  padding: 0rem, 1rem;
}

.container-centered {
  max-width: 600px;
  margin: auto;
  /* for center */
}

/* links */
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.primary-link {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
}

.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

/* lists */

.non-bullet {
  list-style: none;
}

.list-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/* navigation */
.navigation {
  background-color: blueviolet;
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link {
  color: white;
}

.navigation .link-active {
  font-weight: bold;
}
