body {
  background-image: url("/mirzapur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  color: white;
  text-align: center;
  margin: auto;
  padding: 150px 0;
}

.banner a {
  color: aqua;
}
